In [1]:
!conda install lxml -y

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\ijaza\anaconda3\envs\python12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libiconv-1.16              |       h2bbff1b_3         685 KB
    libxml2-2.10.4             |       h0ad7f3c_2         2.9 MB
    lxml-5.2.1                 |  py312h09808a7_0         1.1 MB
    ------------------------------------------------------------
                                           Total:         4.7 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_3
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_2
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-5.2.1-py312h09808a7_0



Downloading and Extracting Packages

libiconv-1.16        | 685 KB    |            |   0%

lxml-5.2.1           | 1.1 MB    |            |   0%


libxml2-2.10.4       | 2.9 MB    |            |   0%


libxml2-2.10.4       | 2.9 MB    |            |   1%

lxml-5.2.1           | 1.1 MB    | 1          |   1%


libxml2-2.10.4       | 2.9 MB    | 3          |   3%

lxml-5.2.1           | 1.1 MB    | 2          |   3%


libxml2-2.10.4       | 2.9 MB    | 7          |   8%
libiconv-1.16        | 685 KB    | 2          |   2%

lxml-5.2.1           | 1.1 MB    | 5          |   6%
libiconv-1.16        | 685 KB    | 7          |   7%


libxml2-2.10.4       | 2.9 MB    | #1         |  12%

lxml-5.2.1           | 1.1 MB    | 8          |   8%
libiconv-1.16        | 685 KB    | 9          |   9%


libxml2-2.10.4       | 2.9 MB    | #4         |  14%
libiconv-1.16        | 685 KB    | #4         |  14%
libiconv-1.16        | 685 KB    | ##1        |  21%


libxml2-2.10.4       | 2.9 MB    | ##2        |  22%
libiconv-1.16        | 685 KB    | ##5        |  26%

lxml-5.2.1           | 1.1 MB    | #9         |  19%
libiconv-1.16        | 685 KB    | ###        |  30%


libxml2-2.10.4       | 2.9 MB    | ##4        |  24%
libiconv-1.16        | 685 KB    | ###5       |  35%

lxml-5.2.1           | 1.1 MB    | ##7        |  28%


libxml2-2.10.4       | 2.9 MB    | ##7        |  28%

lxml-5.2.1           | 1.1 MB    | ###        |  30%


libxml2-2.10.4       | 2.9 MB    | ##9        |  29%

lxml-5.2.1           | 1.1 MB    | ###3       |  33%
libiconv-1.16        | 685 KB    | ###9       |  40%


libxml2-2.10.4       | 2.9 MB    | ###1       |  32%

lxml-5.2.1           | 1.1 MB    | ###6       |  36%

lxml-5.2.1           | 1.1 MB    | ###8       |  39%


libxml2-2.10.4       | 2.9 MB    | ###5       |  35%


libxml2-2.10.4       | 2.9 MB    | ###7       |  37%
libiconv-1.16        | 685 KB    | ####4      |  44%

lxml-5.2.1           | 1.1 MB    | ####1      |  42%
libiconv-1.16        | 685 KB    | ######7    |  68%


libxml2-2.10.4       | 2.9 MB    | ####1      |  42%


libxml2-2.10.4       | 2.9 MB    | ####6      |  46%

lxml-5.2.1           | 1.1 MB    | ####8      |  48%
libiconv-1.16        | 685 KB    | #######7   |  77%

lxml-5.2.1           | 1.1 MB    | #####1     |  51%


libxml2-2.10.4       | 2.9 MB    | ####9      |  50%


libxml2-2.10.4       | 2.9 MB    | #####2     |  52%
libiconv-1.16        | 685 KB    | ########6  |  86%

lxml-5.2.1           | 1.1 MB    | #####4     |  54%


libxml2-2.10.4       | 2.9 MB    | #####4     |  55%

lxml-5.2.1           | 1.1 MB    | #####9     |  60%


libxml2-2.10.4       | 2.9 MB    | #####6     |  57%
libiconv-1.16        | 685 KB    | #########3 |  93%

lxml-5.2.1           | 1.1 MB    | ######2    |  62%


libxml2-2.10.4       | 2.9 MB    | ######     |  61%

lxml-5.2.1           | 1.1 MB    | ######7    |  68%
libiconv-1.16        | 685 KB    | ########## | 100%
libiconv-1.16        | 685 KB    | ########## | 100%


libxml2-2.10.4       | 2.9 MB    | ######5    |  66%


libxml2-2.10.4       | 2.9 MB    | ######9    |  69%

lxml-5.2.1           | 1.1 MB    | #######2   |  72%


libxml2-2.10.4       | 2.9 MB    | #######1   |  72%

lxml-5.2.1           | 1.1 MB    | #######4   |  75%


libxml2-2.10.4       | 2.9 MB    | #######4   |  74%

lxml-5.2.1           | 1.1 MB    | #######7   |  78%


libxml2-2.10.4       | 2.9 MB    | #######7   |  78%

lxml-5.2.1           | 1.1 MB    | ########   |  80%


libxml2-2.10.4       | 2.9 MB    | ########   |  81%


libxml2-2.10.4       | 2.9 MB    | ########6  |  86%

lxml-5.2.1           | 1.1 MB    | ########5  |  86%


libxml2-2.10.4       | 2.9 MB    | ########9  |  90%

lxml-5.2.1           | 1.1 MB    | ########8  |  89%


libxml2-2.10.4       | 2.9 MB    | #########2 |  92%


libxml2-2.10.4       | 2.9 MB    | #########8 |  99%

lxml-5.2.1           | 1.1 MB    | #########1 |  91%


libxml2-2.10.4       | 2.9 MB    | ########## | 100%

lxml-5.2.1           | 1.1 MB    | ########## | 100%

lxml-5.2.1           | 1.1 MB    | ########## | 100%








Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 24.5.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.5.0

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ijaza\anaconda3\envs\python12\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ijaza\anaconda3\envs\python12\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ijaza\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ijaza\anaconda3\envs\python12\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ijaza\anaconda3\envs\python12\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ijaza\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd

In [7]:
table=pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [8]:
a : int = 7
b : int = 2

print(a+b)
print(a-b)
print(a*b)
print(a/b)

9
5
14
3.5

In [9]:
a : int = 11
b : int = 2
print(a%b)

1

In [10]:
print(a**2)
print(2**3)

121
8

In [11]:
print(12/3)

4.0

In [12]:
print(16.4//2)

8.0

In [13]:
table[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

In [14]:
a : int =5
a +=2
print(a)

7

In [15]:
a -=1
print(a)

6

In [16]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [17]:
a : int = 7
b : int = 3
print(a==b)

False

In [18]:
a : int = 7
b : int = '7'
print(a==b)

False

In [19]:
a : int = 7
b : int = 7
print(a!=b)

False

In [20]:
print(a==b)

True

In [21]:
a : int = 7
b : int = 8
print(a>b)

False

In [22]:
print(a<b)

True

In [23]:
print(a>=b)

False

In [24]:
print(a<=b)

True

ASCII CODE

In [25]:
ord('A')

65

In [26]:
chr(65)

'A'

In [27]:
a : str = 'A'
b : str = 'B'
print(a>=b)

False

In [29]:
print(a<=b)

True

In [30]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [32]:
name : str = 'Qasim'
print(not name=='Qasim')

False

In [34]:
print(name!='Qasim')

False

# Python Identity Operators

In [36]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [38]:
x : str = 'abc'
y : str = 'jkl'
x is y

False

In [39]:
x is not y

True

# Python Membership Operators

ASCII Code

A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=57

In [44]:
names : list[str] = [chr( i )for i in range(65,91)]

In [45]:
'D' in names

True

In [46]:
'd' in names

False

In [52]:
new_names : list[str] =[chr(i) for i in range(65,91)]
display(new_names)
"Pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [53]:
# List of ASCII values for uppercase letters from 'A' to 'Z'
num_order = [i for i in range(ord('A'), ord('Z') + 1)]

In [55]:
display(num_order)
100 in num_order

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

False

In [61]:
names : list[str] =  ['Sir Zia','Sir Inam', 'Qasim']
uinput : str = input('Enter Your Name')
uinput in names

True

In [62]:
names : list[str] =  ['Sir Zia','Sir Inam', 'Qasim']
uinput : str = input('Enter Your Name')
uinput not in names

False

# PEMDAS

In [64]:
print(3 + 2 - 2 * 4 /2 + 2)

3.0

In [65]:
Universe_age : int = 14_000_000_000
print(Universe_age)

14000000000

In [66]:
a, b, c = 'Ahmad', 4, 11
print(a)
print(b)
print(c)

Ahmad
4
11

In [67]:
data = ('Qureshi',63,999)
print(data)

('Qureshi', 63, 999)

In [68]:
print(*data)

Qureshi 63 999

In [69]:
print(data[0],data[1],data[2])

Qureshi 63 999

In [70]:
'''
commented data which can not
be 
seen
upon 
print
'''
print("Hello world")

Hello world

In [71]:
import this # python poem

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!