In [1]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for n in names:
    print(n)

Sir Zia
Muhammad Qasim
DR Noman

In [ ]:
# Old method for calling Loop
names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

i:int = 0 # counter = 0

while i<len(names): # names length =3
    print(names[i])
    i += 1

In [7]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for n in names:
    print(f"welcom dear Teacher: \t{n.upper()}")

welcom dear Teacher: 	SIR ZIA
welcom dear Teacher: 	MUHAMMAD QASIM
welcom dear Teacher: 	DR NOMAN

In [8]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for n in names:
   print(f"Wecome dear Teach {n.title()}")
   print("PIAIC Gen Team\n")

Wecome dear Teach Sir Zia
PIAIC Gen Team

Wecome dear Teach Muhammad Qasim
PIAIC Gen Team

Wecome dear Teach Dr Noman
PIAIC Gen Team

In [9]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")
print("PIAIC Game Changer")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

PIAIC Game Changer

In [13]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names[-3:]:
    print(f'Welcome dear Teacher {name.title()}')
    print("PIAIC Gen Team\n")
print("Pakistan Zindabad")

Welcome dear Teacher Sir Zia
PIAIC Gen Team

Welcome dear Teacher Muhammad Qasim
PIAIC Gen Team

Welcome dear Teacher Dr Noman
PIAIC Gen Team

Pakistan Zindabad

In [14]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names[-2:]:
    print(f'Welcome dear Teacher {name.title()}')
    print("PIAIC Gen Team\n")
print("Pakistan Zindabad")

Welcome dear Teacher Muhammad Qasim
PIAIC Gen Team

Welcome dear Teacher Dr Noman
PIAIC Gen Team

Pakistan Zindabad

In [18]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[::-1]:
    print(f'Welcome Dear Tacher {name.upper()}')
    print("PIAIC Gen AI Team\n")
print("Pakistan zinda bad\n")

Welcome Dear Tacher DR NOMAN
PIAIC Gen AI Team

Welcome Dear Tacher MUHAMMAD QASIM
PIAIC Gen AI Team

Welcome Dear Tacher SIR ZIA
PIAIC Gen AI Team

Pakistan zinda bad

In [19]:
data_base : list[tuple[str,str]] = [('qasim','123'),
                                     ('sir zia','456'),
                                     ('ikhlas','789')]
for row in data_base:
    print(data_base)

[('qasim', '123'), ('sir zia', '456'), ('ikhlas', '789')]
[('qasim', '123'), ('sir zia', '456'), ('ikhlas', '789')]
[('qasim', '123'), ('sir zia', '456'), ('ikhlas', '789')]

In [20]:
data_base : list[tuple[str,str]] = [('qasim','123'),
                                     ('sir zia','456'),
                                     ('ikhlas','789')]
for row in data_base:
    user,password=row
    print(user,password)

qasim 123
sir zia 456
ikhlas 789

In [22]:
input_user : str = input("enter user name")
print(input_user)

ijaz ahmad

In [1]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input('Enter your name')
input_password : str = input('Enter your password')
for row in data_base:
    user,password=row
    if input_user==user and input_password==password:
        print(f"valid user {user}")
        break
else:
    print(f'Not found or invalid user')

Not found or invalid user

In [10]:
data_base : list [tuple[str,str]] = [('ijaz','111'),('ahmad','222'),('qureshi','333')]
input_user : str = input("Enter name")
input_password : str = input('Enter password')
for row in data_base:
    user,password=row
    if input_user==user and input_password==password:
        print(f'valid user {user}')
        break
else:
    print(f'invalid user {user}')

valid user ijaz

In [11]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names:
    print(name)
else:
    print("hello world")

Sir Zia
Muhammad Qasim
DR Noman
hello world

In [12]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names:
    print(name)
    break
else:
    print("hello world")

Sir Zia

In [13]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names:
    print(name)

print("hello world")

Sir Zia
Muhammad Qasim
DR Noman
hello world

In [14]:
magicians: list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f'{magician.title()},that was a great trick!')
print(f'i cant wait to see your next trick {magician.title()}')

Alice,that was a great trick!
David,that was a great trick!
Carolina,that was a great trick!
i cant wait to see your next trick Carolina

In [15]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f'that was a great trick {magician.title()}\n')
print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
that was a great trick Alice

David, that was a great trick!
that was a great trick David

Carolina, that was a great trick!
that was a great trick Carolina

Thank you everyone, that was a great magic show!

In [16]:

magicians = ['alice', 'david', 'carolina']
list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [18]:
# the above enumerate work can be done with index methos also
magicians = ['alice', 'david', 'carolina']
for index,name in enumerate(magicians):
    print(index,name)

0 alice
1 david
2 carolina

# Numbers with loop
* range(start,end,step)

In [20]:
range(10)

range(0, 10)

In [21]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(10,2))

[]

In [23]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
for numeral in range(1,11):
    print(numeral)

1
2
3
4
5
6
7
8
9
10

In [26]:
for n in range(1,11):
    print(f'{2}x{n}={n*2}')

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

# List comprehensive
  * for item in items_list:
    * loop_body
# Comprehensive Style
 * [loop_body for item in items_list]

In [28]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [1]:
#old method
squares:list[int]=[]
for value in range(1,11):
    square=value**2
    squares.append(square)
    print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#old method
squares:list[int]=[]
for value in range(1,11):
    square=value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
# above function with list comprehensive
[ i**2 for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [35]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friends_food=my_foods[:]
friends_food[0]='Tikka'
print(my_foods)
print(friends_food)

['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

# Tuples

In [37]:
names:tuple[str] = ('A',"B",'C')
print(names[0])
print(names[1])

A
B

In [46]:
names:tuple[str] = ('A',"B",'C')

names[0] = "Pakistan"

TypeError: 'tuple' object does not support item assignment

In [38]:
names : tuple[str] = ('A',"B",'C')
names : tuple[str] =('Pakistan','B','C')
print(names)

('Pakistan', 'B', 'C')

In [42]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)
data[1].append(20)
print(data)

('A', [1, 2, 3, 20], True)

In [43]:
sorted([7,8,1,3])

[1, 3, 7, 8]